
.jumbotron{
    padding-top: 6rem;
    background: #e2edff;
}

.jumbotron h1{
    font-weight: 400;
}

.project{
    background: #e2edff;
}


.nav-link:hover{
    color: black;
    font-weight: 500;
}

.nav-link:focus{
    color: black;
    font-weight: 700;
}
